@import url(base.css);
@import url(color.css);

.help-section{
  margin-top:30px;
}

.section-title{
  display:block;
  margin-bottom:15px;
  font-size:18px;
  font-weight:600;
  color:#414040;
}

/* Custom arrow list */
.arrow-list{
  list-style:none;
  padding:0;
  margin:0;
}

.arrow-list li{
  position:relative;
  padding-left:22px;
  margin-bottom:12px;
  font-size:15px;
  line-height:1.6;
  color:#333;
}

/* Arrow icon */
.arrow-list li::before{
  content:">";
  position:absolute;
  left:0;
  top:0;
  color:#414040;
  font-weight:700;
}