@import url(base.css);
@import url(color.css);

.page-banner {
  position: relative;
  min-height: 320px;
  background: url("../images/page-banner-bg-5.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.page-banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.page-banner-content {
  position: relative;
  z-index: 2;
  width: 95%;
  margin: auto;
  color: #fff;
  text-align: left;
}

.page-banner-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 30px;
}

.breadcrumb {
  font-size: 22px;
  color: #ddd;
  font-weight: 700;
  margin-top: 6px;
  text-align: left;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb span {
  margin: 0 6px;
}

.page-banner-content {
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}