/* @media(max-width:992px){
  .feature-grid,.about-boxes,.services-grid{flex-direction:column;grid-template-columns:1fr}
} */

@import url(base.css);
@import url(color.css);

/* FOOTER */
@media (max-width: 768px) {
  .footer-social-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

/* cta below */
/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 1024px) {
  .cta-content {
    padding: 60px 40px;
  }

  .cta-content h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {

  .cta-logistics-inner {
    flex-direction: column;
    min-height: auto;
  }

  /* IMAGE FULL WIDTH */
  .cta-image {
    width: 100%;
    height: 260px;
  }

  .cta-image img {
    height: 100%;
  }

  /* ICON CENTER */
  .cta-icon-circle {
    left: 50%;
    top: 260px;
    transform: translate(-50%, -50%);
  }

  /* CONTENT FULL WIDTH */
  .cta-content {
    width: 100%;
    padding: 80px 30px 50px;
    text-align: center;
  }

  .cta-content p {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .cta-btn-blue {
    justify-content: center;
  }
}

@media (max-width: 480px) {

  .cta-image {
    height: 220px;
  }

  .cta-icon-circle {
    width: 70px;
    height: 70px;
    top: 220px;
  }

  .cta-icon-circle img {
    width: 30px;
  }

  .cta-content {
    padding: 70px 20px 40px;
  }

  .cta-content h2 {
    font-size: 26px;
  }

  .cta-content p {
    font-size: 14px;
  }

  .cta-btn-blue {
    padding: 12px 22px;
    font-size: 14px;
  }
}

