<!-- ABOUT SECTION -->
<section id="about">
    <div class="about-wrapper container">
        <div class="about-img">
            <img src="images/about/about-image.jpg" alt="About Us">
            <p class="about-img-text highlight-bg">
                Connecting Courier Services (P) Ltd was incorporated in<br>
                Since 2019 by promoters with
                their 7+ years of<br> experience in
                the express and freight industry.
            </p>
        </div>
        <div class="about-text">
            <p class="small"><span class="since-highlight">~ About The Company ~</span></p>
            <h2>We offer worldwide logistics support <span class="since-highlight"> Since 2019</span></h2>
            <p class="about-desc">Today, the company is run by a team of 200+ professionals located in India and abroad, who understand the core concepts of express delivery and the critical aspects of completing them on time by meeting delivery deadlines. This being a service industry we recognize our people are the most valuable assets of our organization and so nurture our staff to attain their fullest potential, by creating a working environment that promotes both personal and professional development.</p>
            <div class="about-boxes">

                <div class="about-box">
                    <img src="images/icons/low-price.svg" class="about-icon" alt="Experience">
                    <h4>Cost Effective</h4>
                </div>

                <div class="about-box">
                    <img src="images/icons/clock.svg" class="about-icon" alt="Network">
                    <h4>Express Delivery</h4>
                </div>

                <div class="about-box">
                    <img src="images/icons/order-tracking.svg" class="about-icon" alt="Trust">
                    <h4>End to End Tracking</h4>
                </div>
            </div>
        </div>
    </div>
</section>