<!-- HEADER -->
<header id="mainHeader" class="header">
  <div class="logo-area">
    <img src="images/logo.png" alt="Logo">
    <span>Connecting Courier Services</span>
  </div>

  <nav class="nav-menu">
    <a href="index.html" class="active">Home</a>
    <a href="about.html">About</a>

    <!-- SERVICES DROPDOWN -->
    <div class="nav-dropdown">
      <a href="#" class="dropdown-toggle">Services</a>

      <div class="dropdown-menu">
        <a href="../e-commerce-delivery-solution.html">E Commerce Delivery Solution</a>
        <a href="../overseas-warehousing-return-management.html">Overseas Warehousing & Return Management</a>
        <a href="../air-sea-freight.html">Air Freight</a>
        <a href="../express-delivery.html">Express Delivery</a>
        <a href="../e-commerce-export-advisory-services.html">E Commerce Export Advisory Services</a>
        <a href="../personal-baggage.html">Personal Baggage</a>
      </div>
    </div>

    <!-- FEATURE DROPDOWN -->
    <div class="nav-dropdown">
      <a href="#" class="dropdown-toggle">Features</a>

      <div class="dropdown-menu">
        <a href="../kyc.html">Kow Your Customer (KYC)</a>
        <a href="../metric-coversion.html">Metric Conversion</a>
        <a href="../currency-calculator.html">Currency Calculator</a>
      </div>
    </div>

    <a href="tracking.html">Tracking</a>
    <a href="contact.html">Contact</a>
  </nav>

  <!-- HEADER SEPARATOR -->
  <div class="header-line"></div>
</header>