<!-- HEADER -->
    <header id="mainHeader" class="header">
        <div class="logo-area">
            <img src="images/logo.png" alt="Logo">
            <span>Connecting Courier Services</span>
        </div>

        <nav class="nav-menu">
            <a href="index.html" class="active">Home</a>
            <a href="about.html">About</a>
            <a href="services.html">Services</a>
            <a href="tracking.html">Tracking</a>
            <a href="contact.html">Contact</a>
        </nav>

        <!-- HEADER SEPARATOR -->
        <div class="header-line"></div>
    </header>